* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.app {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1DB954; /* Spotify Green */
}

#status {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
    background: #282828;
    border-radius: 8px;
}

#file-list {
    margin-top: 20px;
    text-align: left;
}

.song-item {
    background: #181818;
    padding: 15px;
    border-bottom: 1px solid #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-item:active {
    background: #282828;
}

button {
    background: #1DB954;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
